/* admin.module.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.tableContainer {
  overflow-x: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  width: calc(100% / 8);
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table th {
  background-color: #f2f2f2;
}

.deleteButton {
  padding: 8px 12px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.deleteButton:hover {
  background-color: #cb0b0b;
}

.createButton {
  padding: 8px 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.createButton:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
}

.successMessage {
  color: #007bff;
  margin-top: 10px;
}

.imageCell {
  max-width: 150px;
  overflow: auto;
}

.toggleButton {
  position: relative;
  width: 60px;
  height: 30px;
  border: none;
  background-color: #ccc;
  border-radius: 30px;
  cursor: pointer;
  overflow: hidden;
}

.admin {
  background-color: #4caf50;
}

.toggleSlider {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.adminSlider {
  animation: slideAnimation 0.3s ease-in-out;
}

@keyframes slideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(30px);
  }
}
